$nav-width: 31rem;
$nav-color: #f9faff;

.mri-base,
.mri-body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $mri-dark-light-weight;
}

h1,
h2 {
    font-weight: 800;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
    margin-bottom: 0.75rem;
    font-weight: 400;
}

.page-wrapper {
    display: flex;
}

.main p {
    color: mri-gray(60);
}

.demo-button {
    @extend %button-reset;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $mri-dark-interactive-color;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.05rem 0.5rem 0;
    border-radius: 2px;
    line-height: 22px;
    color: $mri-dark-interactive-color;
    font-weight: 500;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: mri-blue(05);
    }
}

hr {
    border-style: solid;
    border-top: 1px solid #dddddd;
    border-bottom: none;
    border-color: #dddddd;
}

.heading-button {
    display: flex;
    align-items: center;
    button {
        margin-left: 1rem;
    }
}

// .sticky {
//     position: sticky;
//     top: 2rem;
// }

.text-center {
    text-align: center;
}

.nav.tt-tour-box {
    padding: 2rem 5rem;
    width: $nav-width;
    background-color: $nav-color;
    border-right: 1px solid #e1e1e1;
    position: fixed!important;
    top: 0;
    bottom: 0;
    flex-shrink: 0;
    background-image: url("/images/leaf.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: auto;
    .menu {
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 19px;
    }
    .description {
        font-weight: 300;
        font-size: 25px;
    }
    .sticky > ul > li > a {
        font-size: 19px;
        font-weight: 700;
    }
    ul {
        padding: 0;
        margin: 0;
        ul ul {
            margin-left: 1rem;
            top: -8px;
            position: relative;
            li {
                a {
                    margin-bottom: 0.25rem;
                    font-size: 12px;
                    &:after {
                        display: none!important;
                    }
                }
            }
        }
        li {
            list-style: none;
            display: block;
            a {
                text-decoration: none;
                padding: 0.15rem 0;
                margin-bottom: 0.8rem;
                position: relative;
                display: inline-block;
                color: #162029;
                transition: color 0.3s;
                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: $mri-dark-focus-color;
                    content: "";
                    opacity: 0;
                    transition: opacity 0.3s, transform 0.3s;
                    transform: translateY(6px);
                }
                &:hover {
                    color: $mri-dark-interactive-color;
                }
                &.active,
                &.forced-active {
                    color: mri-blue(70);
                }
                &:hover::after,
                &.active::after,
                &.forced-active::after {
                    opacity: 1;
                    transform: translateY(-2px);
                }
            }

        }
    }
}

.main {
    padding: 0 2rem;
    flex-grow: 1;
    margin-left: $nav-width;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container-med {
    max-width: 540px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 2rem;
}

 .button-underline {
     margin-bottom: 12px;
    &:after {
        content: "";
        width: 54px;
        height: 2px;
        background-color: #10689D;
        position: absolute;
        bottom: -12px;
    }
}

 .video-underline {
     margin-bottom: 3rem;
     position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #10689D;
        position: absolute;
        bottom: -12px;
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #142329;
    display: block;
    color: white;
    text-decoration: none;
    overflow: hidden;
    &::before {
        content: "";
        background-color: #142329;
        background: url("/images/video-overlay.jpg");
        background-size: cover;
        opacity: 0.46;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        transition: transform 1s ease-out, opacity 1s ease-out;
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        background-image: url("/images/play.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        pointer-events: none;
        transition: opacity 0.6s ease-out;
        opacity: 0.7;
    }
    &:hover::before {
        transform: scale(1.2);
        opacity: 0.6;
    }
    &:hover::after {
        opacity: 1;
    }
    .video-title {
        position: absolute;
        top: 16px;
        left: 26px;
        pointer-events: none;
        font-size: 13px;
        background-image: url("/images/white-logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        line-height: 22px;
        padding-left: 56px;
    }
    .video-time {
        position: absolute;
        bottom: 16px;
        left: 26px;
        right: 26px;
        text-align: center;
        pointer-events: none;
        font-size: 11px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            background-image: url("/images/clock.svg");
            background-repeat: no-repeat;
            background-size: contain;
            height: 12px;
            width: 12px;
            display: inline-block;
            margin-right: 6px;
        }
    }
}

.tips {
    background-color: #f9faff;
    border-top: 2px solid $mri-dark-interactive-color;
    padding: 1rem;
    h5 {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 1rem;
        img {
            margin-right: 4px;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 15px;
        margin-top: 5px;
        li {
            position: relative;
            margin-bottom: 0.5rem;
            font-size: 13px;
            &:before {
                content: "-";
                position: absolute;
                left: -12px;
            }
        }
    }
}

.column-2 {
    display: flex;
    align-items: flex-start;
    margin: 0 -0.75rem;
    & > * {
        flex-basis: 50%;
        margin: 0 0.75rem;
    }
}
.boxshadow {
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.14);
}

.example-popup {
    padding: 1.5rem 1rem;
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    margin-bottom: 4rem;
    position: relative;
    font-size: 12px;
    &.small-popup {
        padding: 1rem;
    }
    p {
        margin: 0;
    }
    .close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 15px;
        line-height: 1;
        font-weight: 300;
        color: mri-gray(50);
    }
    button {
        margin: 0 0.5rem;
    }
    .center-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 0;
    }
}

.tt-tour {
    .tt-types {
        background-color: #f9faff;
        display: flex;
        .tt-type {
            padding: 1rem 2rem;
            position: relative;
            .highlight {
                color: #0d75b0;
            }
            .tt {
                margin-bottom: 1.5rem;
            }
            .tooltip-wrapper {
                width: 260px;
                margin: 0 auto;
                display: block;
                & > p {
                    i {
                        color: rgba(57, 71, 84, 0.68);
                        font-size: 13px;
                    }
                }
                & > button {
                    margin: 0 auto;
                    display: block;
                }
            }
            &:not(:last-child):after {
                    content: "";
    right: 0px;
    border-left: 1px solid #E3E3E3;
    top: 2rem;
    bottom: 2rem;
    display: inline-block;
    width: 0px;
    position: absolute;
            }
        }
    }
    .tour {
        text-align: center;
        padding: 1.6rem;
        .mri-button {
            border-color: #0d75b0;
            color: #0d75b0;
            img {
                margin-right: 3px;
            }
        }
    }
}

.tt {
    background-color: #394754;
    color: #f1f1f1;
    padding: 0.7rem 1rem 1rem;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15), 0px 2px 11px rgba(0, 0, 0, 0.18);
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        z-index: 1;
    }
    &.tt-top {
        &:after {
            bottom: -10px;
            left: 50%;
            margin-left: -10px;
            border-width: 10px 10px 0;
            border-top-color: #394754;
        }
    }
    &.tt-left {
        &:after {
            top: calc(50% - 5px);
            right: -10px;
            border-width: 10px 0 10px 10px;
            border-left-color: #394754;
        }
    }
    &.tt-right {
        &:after {
            top: calc(50% - 5px);
            left: -10px;
            border-width: 10px 10px 10px 0;
            border-right-color: #394754;
        }
    }
    .tt-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $mri-brand-green;
        font-size: 15px;
        font-weight: 500;
        span {
            color: #f1f1f1;
            font-size: 11px;
            font-weight: 400;
        }
    }
    .tt-number {
        font-style: italic;
    }
    .tt-text {
        color: #f1f1f1;
        font-size: 12px;
        line-height: 15px;
        margin: 11px 0;
        text-align: left;
    }
    .mri-button {
        color: white!important;
        border-color: white!important;
        &:hover {
            color: white;
            border-color: white;
        }
    }
    .tt-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-style: italic;
            cursor: pointer;
            font-size: 11px;
        }
        .action {
            color: $mri-brand-green;
            font-size: 13px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
.overlay {
    position: fixed;
    background-color: rgba(65, 97, 113, 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    display: none;
    opacity: 0;
    &.active {
        display: block;
        animation: fade-in 0.6s linear 0s both;
    }
}

body.noscroll {
    overflow: hidden;
    .nav {
        overflow: visible;
    }
}

.tt-tour-box.tooltip-hightlight {
    position: relative;
    z-index: 200;
    background-color: white;
    max-height: 100vh;
    box-shadow: 0px 0px 0px 14px transparent;
    &.tooltip-hightlight-box {
        box-shadow: 0px 0px 0px 14px white;
        .tt-left {
            right: calc(100% + 28px)!important;
        }
        .tt-right {
            left: calc(100% + 28px)!important;
        }
        .tt-top {
            bottom: calc(100% + 15px)!important;
        }
    }
}
span.tt-tour-box {
    display: inline-block;
}
.tt-tour-box {
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s linear, box-shadow 0.3s linear;
    .tt {
        position: absolute;
        z-index: 300;
        min-width: 300px;
        display: none;
        opacity: 0;
        pointer-events: auto;
        &.tt-right {
            top: 50%;
            left: calc(100% + 15px);
            transform: translate(0, -50%);
        }
        &.tt-left {
            top: 50%;
            right: calc(100% + 15px);
            transform: translate(0, -50%);
            .tooltip-hightlight-box & {
                right: calc(100% + 24px);
            }
        }
        &.tt-top {
            bottom: calc(100% + 10px);
            left: 50%;
            transform: translate(-50%, 0);
            margin-bottom: 12px;
        }
    }
    &.tooltip-hightlight {
        .tt {
            display: block;
            animation: fade-in 0.3s linear 0.2s both;
        }
    }
}

.tooltip-tour-start {
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.14);
    width: 448px;
    position: fixed;
    bottom: 2rem;
    right: -500px;
    z-index: 400;
    background-color: white;
    transition: right 0.5s ease-in-out;
    .close-popup {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 28px;
        line-height: 1;
        font-weight: 400;
        opacity: 0.7;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;
        &:hover {
            opacity: 0.9;
        }
    }
    &.active {
        right: 2rem;
    }
    .tour-start-header {
        background-image: url('/images/tool-start-header.png');
        color: white;
        padding: 35px;
        background-size: cover;
        background-color: #416171;
        img {
            width: 56px;
        }
        h3 {
            margin: 5px 0;
            font-weight: 500;
            font-size: 30px;
        }
    }
    .tour-start-body {
        padding: 14px 35px;
        font-size: 16px;
        font-weight: 500;
        ul {
            padding-left: 16px;
            font-weight: 400;
            li {
                line-height: 32px;
            }
        }
    }
    .tour-start-footer {
        padding: 0px 35px 35px;
        text-align: center;
    }
}