$mri-label-color:                             $mri-dark-text-color-muted !default;
$mri-label-background-color:                  transparent !default;
$mri-label-font-size:                         inherit !default;
$mri-label-line-height:                       1.5 !default;
$mri-label-font-weight:                       normal !default;

$mri-label-focus-color:                       $mri-dark-interactive-color !default;

$mri-label-required-symbol-font-size:         .5em !default;
$mri-label-required-symbol-color:             $mri-brand-accent-orange !default;