$mri-master-detail-collapse-width:                640px !default;
$mri-master-detail-header-padding:               mri-spacing(medium) mri-spacing(large) !default;
$mri-master-detail-heading-font-size:             1.25em !default;
$mri-master-detail-heading-color:                 $mri-brand-blue !default;
$mri-master-detail-search-area-padding:           mri-spacing(small) !default;
$mri-master-detail-master-pane-background-color:  $mri-background-color-white !default;
$mri-master-detail-master-list-min-height:        10em !default;
$mri-masterdetail-master-toolbar-padding:         mri-spacing(small) mri-spacing(medium) !default;
