$mri-page-header-padding: mri-spacing(medium) $mri-spacing-horizontal-margin-width !default;
$mri-page-header-padding-small: mri-spacing(x-small) mri-spacing(small);
$mri-page-header-min-width-mobile: 48px;
$mri-page-header-min-width-tablet: 76px;
