$mri-form-horizontal-column-spacing:  mri-spacing(medium);
$mri-form-horizontal-row-spacing:     mri-spacing(small);
$mri-form-horizontal-segment-spacing: mri-spacing(large);

$mri-form-horizontal-label-min-width: 12em;

$mri-form-group-title-margin-bottom:  mri-spacing(small);