.#{$mri-ns}full-modal__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 0;
  top: 0;
  left: 0;
  z-index: $mri-full-modal-z-index;
  pointer-events: none;
  overflow-y: auto;
}

.#{$mri-ns}full-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border-style: solid;
  z-index: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
  pointer-events: auto;
  animation: fade-in-down $mri-transition-base;
}

.#{$mri-ns}full-modal.#{$mri-ns}is-closed {
  opacity: 0;
  pointer-events: none;
  animation: fade-out-up $mri-transition-base;
}

.#{$mri-ns}full-modal__body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  position: relative;
}

.#{$mri-ns}full-modal__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-shrink: 0;
}

.#{$mri-ns}full-modal__header .#{$mri-ns}full-modal__header-back-button {
  margin-right: mri-spacing(small);
}

.#{$mri-ns}full-modal__header .#{$mri-ns}full-modal__header-icon {
  margin-right: mri-spacing(medium);
  align-self: center;
}

.#{$mri-ns}full-modal__heading {
  @extend %heading-reset;
  flex-grow: 1;
  margin: 0;
}

.#{$mri-ns}full-modal__header-toolbar {
  flex-grow: 1;
  padding: 0;
}

.#{$mri-ns}full-modal__header-toolbar .#{$mri-ns}icon-button {
  margin: 0 0 0 8px;
}

.#{$mri-ns}full-modal__footer {
  flex-shrink: 0;
}

.#{$mri-ns}full-modal__footer-toolbar {
  padding: 0;
}

.#{$mri-ns}full-modal__loading-overlay {
  align-items: center;
  background-color: rgba($mri-white, 0.75);  
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity $mri-transition-base;
  z-index: 1;

  // animate overlay fade in transition
  // ----------------------------------
  &.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.mri-is-visible {
    opacity: 1;
  }

  // success state default
  // ----------------------------------
  .success {
    display: none;

    &.block {
      display: block;
    }

    .mri-icon__success-lg-rev {
      opacity: 0;
      transition: opacity $mri-transition-base, 
                  transform $mri-transition-long;
      transform: scale(1);

      path {
        fill: $mri-dark-success-color;
      }
    }
  }

  // success state when active
  // ----------------------------------
  &.is-success {
    color: $mri-light-text-color;

    .loading {
      display: none;
    }

    .mri-icon__success-lg-rev {
      opacity: 1;
      transform: scale(1.25);
    }
  }
}

// Size variants

@mixin component-full-modal-size-variant($options, $variant-name) {
  $modifier: if($variant-name, "--" + $variant-name, null);
  $parent-class: if($variant-name, ".#{$mri-ns}full-modal--" + $variant-name + " ", null);
  
  .#{$mri-ns}full-modal#{$modifier} {
    border-width: map-get($options, border-width);
    padding: map-get($options, padding-vertical) map-get($options, padding-horizontal);
    min-width: map-get($options, min-width);
    min-height: map-get($options, min-height);
    width: map-get($options, width);
    height: map-get($options, height);
    max-width: map-get($options, max-width);
    max-height: map-get($options, max-height);
  }
  
  #{$parent-class}.#{$mri-ns}full-modal__header {
    padding: map-get($options, header-padding-vertical) map-get($options, header-padding-horizontal);
  }
  
  #{$parent-class}.#{$mri-ns}full-modal__heading {
    font-size: map-get($options, heading-font-size);
    line-height: map-get($options, heading-line-height);
    font-weight: map-get($options, heading-font-weight);
    text-transform: map-get($options, heading-text-transform);
    letter-spacing: map-get($options, heading-letter-spacing);
  }

  #{$parent-class}.#{$mri-ns}full-modal__body {
    height: map-get($options, body-height);
    min-width: map-get($options, body-min-width);
    min-height: map-get($options, body-min-height);
    max-width: map-get($options, body-max-width);
    max-height: map-get($options, body-max-height);
  }
  
  #{$parent-class}.#{$mri-ns}full-modal__footer {
    padding: map-get($options, footer-padding-vertical) map-get($options, footer-padding-horizontal);
  }

  #{$parent-class}.#{$mri-ns}full-modal .#{$mri-ns}grid {
    padding: map-get($options, footer-padding-vertical) map-get($options, footer-padding-horizontal);
  }
}

$mri-full-modal-default-size: (
  min-width: none,
  min-height: 100vh,
  width: 100%,
  height: auto,
  max-width: none,
  max-height: none,
  body-height: auto,
  body-min-width: 0,
  body-min-height: 15em,
  body-max-width: none,
  body-max-height: none,
  border-width: 0,
  padding-vertical: 0,
  padding-horizontal: 0,
  header-padding-vertical: mri-spacing(medium),
  header-padding-horizontal: mri-spacing(medium),
  footer-padding-vertical: mri-spacing(medium),
  footer-padding-horizontal: mri-spacing(medium),
  heading-font-size: 1.5rem,
  heading-line-height: 2rem,
  heading-font-weight: 300,
  heading-text-transform: none,
  heading-letter-spacing: 0
) !default;

@include component-full-modal-size-variant($mri-full-modal-default-size, null);


// Color variants

@mixin component-full-modal-color-variant($options, $variant-name) {
  $modifier: if($variant-name, "--" + $variant-name, null);
  $parent-class: if($variant-name, ".#{$mri-ns}full-modal--" + $variant-name + " ", null);
  
  .#{$mri-ns}full-modal#{$modifier} {
    background-color: map-get($options, bg-color);
    border-color: map-get($options, border-color);
    box-shadow: 
      0 // X offset
      map-get($options, drop-shadow-height) // Y offset
      map-get($options, drop-shadow-blur) // Blur
      rgba(0, 0, 0, map-get($options, drop-shadow-opacity)); // Color
  }
  
  #{$parent-class}.#{$mri-ns}full-modal__header {
    background-color: map-get($options, header-bg-color);
    color: map-get($options, header-color);
  }
  
  #{$parent-class}.#{$mri-ns}full-modal__heading {
    color: map-get($options, heading-color);
  }
  
  #{$parent-class}.#{$mri-ns}full-modal__footer {
    background-color: map-get($options, footer-bg-color);
    color: map-get($options, footer-color);
    /* border-top: 1px solid map-get($options, footer-border-color); */
  }
}

$mri-full-modal-light: (
  bg-color: $mri-background-color-white,
  border-color: $mri-transparent,
  drop-shadow-height: mri-spacing(small),
  drop-shadow-blur: mri-spacing(large),
  drop-shadow-opacity: 0.25,
  header-bg-color: $mri-background-color-lighter,
  header-color: $mri-brand-blue,
  heading-color: inherit,
  footer-bg-color: $mri-background-color-white,
  footer-border-color: $mri-dark-line-color-faint,
  footer-color: $mri-dark-text-color
) !default;

@include component-full-modal-color-variant($mri-full-modal-light, null);

$mri-full-modal-dark: (
  bg-color: $mri-background-color-dark,
  border-color: $mri-transparent,
  drop-shadow-height: mri-spacing(small),
  drop-shadow-blur: mri-spacing(large),
  drop-shadow-opacity: 0.25,
  header-bg-color: $mri-background-color-darker,
  header-color: $mri-light-text-color,
  heading-color: inherit,
  footer-bg-color: $mri-background-color-dark,
  footer-border-color: $mri-light-line-color-faint,
  footer-color: $mri-light-text-color
) !default;

@include component-full-modal-color-variant($mri-full-modal-dark, "dark");