$mri-autocomplete-default-cell-width: 20ch !default;
$mri-autocomplete-column-lengths: (
  2x-short: 2em,
  x-short: 4rem,
  short: 6rem,
  medium: 8rem,
  long: 12rem,
  x-long: 16rem,
  2x-long: 20rem,
) !default;