$mri-menu-item-focus-outline-width: 1px !default;
$mri-menu-item-focus-outline-style: solid !default;
$mri-menu-item-cursor:              pointer !default;

$mri-menu-heading-cursor:           default !default;