$mri-toggle-list-padding:                     mri-spacing(small) 0 !default;
$mri-toggle-list-item-padding:                mri-spacing(x-small) mri-spacing(small) !default;
$mri-toggle-list-heading-color:               $mri-brand-blue !default;
